
<!DOCTYPE html>
<html>
<title>Lower Body</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../WebsiteCSS.css">
<body>

<!-- Navbar (sit on top) -->
<div class="top">
  <div class="bar white wide padding card">
    <a href="../index.html" class="bar-item button"><b>FYF</b>   FIT YOUR FIT</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="right hide-small">
      <a href="../index.html#projects" class="bar-item button">Workout Plans</a>
      <a href="../index.html#about" class="bar-item button">About</a>
      <a href="../Login/Login.html" class="bar-item button">Log In</a>
    </div>
  </div>
</div>
	
<div id="TOP"> 
	<br>
	<br>
	<h1> Lower Body</h1>
</div>

<!-- Back Squats -->
<header class="display-container content wide" style="max-width:1500px;" id="SQUAT">
<center><img class="image" src="static/Lower_Body/Squats.jpg" alt="Architecture" width="1200" height="400"></center>
  <div class="display-middle margin-top center">
    <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b><a href = #DL>Back Squats</a></b></span></h1>
  </div>
</header>

<br>

<!-- Dead Lifts -->
<header class="display-container content wide" style="max-width:1500px;" id="DL">
  <center><img class="image" src="static/Lower_Body/Dead_Lifts2.jpg" alt="Architecture" width="1200" height="400"></center>
  <div class="display-middle margin-top center">
    <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b><a href = #LUNGE>Dead Lifts</a></b></span></h1>
  </div>
</header>

<br>
	
<!-- Lunges -->
<header class="display-container content wide" style="max-width:1500px;" id="LUNGE">
<center><img class="image" src="static/Lower_body/Lunges.jpg" alt="Architecture" width="1200" height="400"></center>
  <div class="display-middle margin-top center">
    <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b><a href = #TOP>Lunges</a></b></span></h1>
  </div>
</header>
	
	
<!-- End page content -->
</div>


</body>
</html>
